form {
  margin-top: 3rem;
}
.Card{
  color: #4e0c12;
  padding: 50px;
  background: #ede4e461;
  border-radius: 10px;
}

form input[name="city"],
form input[name="country"] {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid whitesmoke;
  border-radius: 0;
}
